/*font-family: 'Rubik', sans-serif;*/
*{
    scroll-behavior: smooth;
    
}
video {
    pointer-events: none;
  }
html,body {
    width:100vw;
}
#videoBG {
    position:fixed;
    z-index: -1;
    transition: .4s all ease-out;

}
.full_opacity{
    opacity: 1;
}
.no_opacity{
    opacity: 0;
}
html{
    /* height: 100vh; */
    margin: 0;
}

body{
    position: relative;
    height: 100vh;
    margin: 0;
     overflow-x: hidden; 
}
#container{
    width: 100%;
    padding: 80px 0 45px 0;
    position: relative;
}
.loading{
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.loading_support{
    text-align: center;
    margin-top: 25;
    font-size: 20px;
    margin: 25% auto 0;
    font-family: monospace;
    width: 90%;
}
.back{
    
    position: absolute;
    top:0;
    left: -100%;
    width:200vw;
    height: 100%;
    z-index: -3;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
}
#weather{
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns:repeat(6, 1fr);/*пофиксить размеры*/
    grid-gap: 2px;
    grid-template-areas:
    'display display display display display display days'
    'display display display display display display days'
    'display display display display display display days'
    'display display display display display display days'
    'slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap days'
    'legal legal legal legal legal legal days';
    padding: 25px;
    width: 900px;
    height: 1010px;
    border-radius: 5px;

    /* background: url('img/trianglify-lowres3.png') no-repeat center / cover; */
    background-color: rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: 'Rubik', sans-serif;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
}
/*===========================DISPLAY=========================================*/
#display{
    grid-area: display;
    margin-bottom: 10px;
    display: grid;
    position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;

}


/*-----------------------CURRENT-------------------*/

#current{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#location{
    padding: 5px;
    display: flex;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 0 0;
}
#location:hover{
    background-color: #00c8ff;
    color: #fff;
    transition: .2s ease all;
    border-color: #59abc2;
}
.location_img{
    height: 15px;
    fill: white;
}
/*settings*/
#settings, #search{
    height: fit-content;
    margin: 10px 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: .25s all ease;
}
.settings_icon{
    width: 15px;
    display: block;
    transition: .25s all ease;
    padding: 5px;
}
#settings:hover, #search:hover{
    background-color:#00c8ff;
    cursor: pointer;
}
#settings:hover > svg{
    transform: rotate(90deg);
    cursor: pointer;
}
.clipper{
    clip-path: circle(100%);
    z-index: 2;
}
.settings_window{
    clip-path: circle(0.1% at 49.3% 4.5%);
    width: 100%;
    height: fit-content;
    left: 0;
    top: 0;
    position: absolute;
    color: #fff;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    transition: .5s clip-path ease-in-out;
    z-index: -2;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
}
.search_window{
    width: 100%;
    height: fit-content;
    top: 0;
    position: absolute;
    color: #fff;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    transition: .5s clip-path ease-in-out;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.51);
    cursor: default;
   
    padding: 25px 10px;
    clip-path: circle(1.1% at 55.6% 28.2%);
    z-index: -5;
}
#city_input{
    padding: 7px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    background-color: rgba(102,136,255,0.45);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
#city_input::placeholder{
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
.auto_item, .not_found{
    display: block;
    margin: 7px auto;
    padding: 5px;
    transition: .25s all ease-out;
    background-color: rgba(102,136,255,0.45);
}

.auto_item:hover{
    cursor: pointer;
    text-decoration: underline;
}
input[type='radio']{
    display: none;
}
.settings_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    position: relative;
    
}
.settings_block > div{
    background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin: 0 auto 15px auto;
}
.settings-subitem{
    visibility: hidden;
    max-height: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

     opacity: 0; 
     padding-bottom:0; 
     transition: .4s visibility,height,opacity, background-color ease-in-out;
}
.settings_block > div{
    transition: .25s box-shadow, background-color ease-in-out;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(205deg, rgba(51,51,180,0.35) 5%, rgba(0,212,255,0.35) 85%);
    background: -webkit-linear-gradient(205deg, rgba(51,51,180,0.35) 5%, rgba(0,212,255,0.35) 85%);
    background: linear-gradient(205deg, rgba(51,51,180,0.35) 5%, rgba(0,212,255,0.35) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
}
.settings_block > div:hover{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
} 
.wind-subitem_label > h3{
    margin: 0 auto;
    width: 95%;
    padding: 18px 0;
}
.wind-subitem_label > h3 > span{
    font-size: 15px;
}
.wind-subitem_label > h3:hover{
    cursor: pointer;
}
.wind_labels{
    width: fit-content;
    margin: 0 auto;
}
.settings_block .settings-subitems-input:checked + div .settings-subitem{
    max-height: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    padding: 20px;
}
.settings_block .settings-subitems-input:checked + div{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0.3);
}

#close_settings, #close_search{
    fill: #fff;
    position: absolute;
    height: 25px;
    top:15px;
    right: 15px;
} 
#close_settings:hover, #close_search:hover{
    cursor: pointer;
}

.tippy-box[data-theme~='normal'] {
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    color: white;
    font-family: 'Rubik', sans-serif;
}
.tippy-box[data-theme~='normal'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(0, 204, 255);

}
.tippy-box[data-theme~='normal'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(0, 204, 255);

}
.tippy-box[data-theme~='normal'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(0, 204, 255);

}
.tippy-box[data-theme~='normal'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(0, 204, 255);

}
  
.settings_item, .sources, .wind-settings{
    margin-bottom: 15px;
}
.sources_block{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.sources_block >a{
    padding: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    margin:0 15px 15px 0;
    color: #fff;
    transition: .3s all ease-in-out;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.sources_block >a:hover{
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.75);
}
.settings_item>svg{
    height:30px;
    width: initial;
}

.settings_item >.settings-subitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#russian, #english{
    height: 30px;
    width: initial;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
    border-radius: 10px;
}
.units_labels, .wind_labels, .back-label{
    display:block;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
    border-radius: 10px;
}


.settings_item #lang-1 + .lang-label #russian{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #lang-2 + .lang-label #english{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #lang-1:checked + .lang-label #russian{ border: 1px solid #fff;}
.settings_item #lang-2:checked + .lang-label #english{ border: 1px solid #fff;}

.settings_item #units-1 + .units_labels{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-2 + .units_labels{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-3 + .units_labels{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-4 + .units_labels{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-5 + .units_labels{ border: 1px solid rgba(0, 0, 0, 0);}

.settings_item #units-1:checked + .units_labels{ border: 1px solid #fff;}
.settings_item #units-2:checked + .units_labels{ border: 1px solid #fff;}
.settings_item #units-3:checked + .units_labels { border: 1px solid #fff;}
.settings_item #units-4:checked + .units_labels{ border: 1px solid #fff;}
.settings_item #units-5:checked + .units_labels { border: 1px solid #fff;}

.wind-settings #wind-1 + .wind_labels { border: 1px solid rgba(0, 0, 0, 0);}
.wind-settings  #wind-2 + .wind_labels{ border: 1px solid rgba(0, 0, 0, 0);}
.wind-settings   #wind-1:checked + .wind_labels{ border: 1px solid #fff;}
.wind-settings  #wind-2:checked + .wind_labels{ border: 1px solid #fff;}

.settings_item  #back-1 + .back-label { border: 1px solid rgba(0, 0, 0, 0);}
.settings_item  #back-2 + .back-label{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item  #back-1:checked + .back-label{ border: 1px solid #fff;}
.settings_item  #back-2:checked + .back-label{ border: 1px solid #fff;}

.to_change{
    margin: 0 auto 10px;
    width: 63%;
}
.settings_block input{
    display: none;
}
.settings-subitem > p{
    font-size: 14px;
    width: 95%;
    margin: 0 auto 10px;
}


.condition{
    width: 90%;
    font-size: 20px;
    margin: 0 auto 10px;
    position: relative;

}
.cond_text{
    position: absolute;
    left: 0;
    bottom: 0;
}
.temperature{
    font-size: 4rem;
    margin-bottom: 10px;
}
.temp_val{
    width: fit-content;
}
.app_temp{
    margin-bottom: 25px;
}
.icon {
    width: 60px;
    display: block;
    margin: 15px auto 10px auto;
}

.city{
    display: block;
    margin:15px auto 0 auto;
    width: 90%;
}
.curr_icon{
    height: 1.5rem;
    margin: 0 7px -7px -7px;
}

/*-----------------------DETAILS-----------------------*/
#details{
    display:flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

/*wind*/
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wind_text{
    display: flex;
    flex-direction: column;
}
.wind_headline, #details > span{
    display: inline-block;
    margin: 40px 10px 0;

    font-size: 1.1rem;
    font-weight: 400;
}
.wind_speed{
    margin: 15px 0 25px 0;
}
.wind_dir{
    height: 40px;
    transform: rotate(45deg);
    fill: white;
}


#other{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*===========================MENU===========================================*/

#slidemenu{
    grid-column: 1/4;
    grid-row: 2/3;
    overflow: hidden;
    align-items: center;
}
#menu >span{
    display: inline-block;
    height: fit-content;
    margin-right: 20px;
    font-size:20px;
    padding: 0 10px 5px;
}

#menu >span:hover{
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
/*------------------------------MENU SLIDER----------------------------------------------*/

  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  
  #slidemenu label{
    width: fit-content;
    text-align: center;
    display: block;
    float: left;
    color: #fff;
  }
  
  #slidemenu label:hover{
    cursor: pointer;
  }
  
  #slidemenu label span{
    display: block;
    padding: 9px;    
  }

  #slidemenu{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        align-items: center;
    }
    #slidemenu label{
        margin-left:10px;
        width: unset;
    }
    #slidemenu label span{
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.88);
        color: #000;
        width: max-content;
    }
    #slidemenu label span:hover{
        cursor: pointer;
        background-color:#00c8ffda ;
        color: #fff;
        transition: .2s ease all;
        border-color: #00c8ffda;

    }
  #slidemenu #slide-item-1:checked + label span, #slidemenu #slide-item-2:checked + label span,#slidemenu #slide-item-3:checked + label span,#slidemenu #slide-item-4:checked + label span,#slidemenu #slide-item-5:checked + label span,#slidemenu #slide-item-6:checked + label span{
    cursor: pointer;
    background-color:#00c8ffda;
    color: #fff;
    transition: .2s ease all;
    border-color: #00c8ffda;
}
  
  /* #slidemenu #slide-item-1:checked ~ .slider_bar .bar{ margin-left: 0; }
  #slidemenu #slide-item-2:checked ~ .slider_bar  .bar{ margin-left: 20%; }
  #slidemenu #slide-item-3:checked ~ .slider_bar  .bar{ margin-left: 40%; }
  #slidemenu #slide-item-4:checked ~ .slider_bar  .bar{ margin-left: 60%; }
  #slidemenu #slide-item-5:checked ~ .slider_bar  .bar{ margin-left: 80%; } */
/*===============================CHART===========================================*/


.chart-container{
    position: relative;
    height: 100%;
    width: 2880px;
    overflow-y: hidden;
}
.chart_area{
    width: 100%;
    grid-column: 1/4;
    grid-row: 3/4;
    height: 90%;
    overflow-x: scroll;
    margin: auto;
}
.chart_area::-webkit-scrollbar {
    width: 16px;
    cursor: pointer;
  }

  /* Track */
  .chart_area::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  .chart_area::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  .chart_area::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }



/*===========================DAYS============================================*/
.backto{
    display: block;
    padding: 8px;
    text-align: center;
    border: 1px solid #00c8ff;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto;
    background-color: #00c8ff;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.backto:hover{
    cursor: pointer;
    color: #fff;
    transition: .35s all ease;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.75);
}
.pop{
    background-color: rgb(85, 193, 255);
    font-size: 17px;
    margin-bottom: 10px;

}
.sky{
    width: 60px;
    margin: 0 auto 10px auto;
    display: block;
}
.pop_drop{
    margin-right: 3px;
    width: 13px;
}
.temp{
    margin-bottom: 10px;
    font-size:1.3rem;
}
.time, .date{
    font-weight: 100;
    font-size: 1.05rem;
}

#days{

    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    position: relative;
    transition: .4s all ease;
    overflow-y: scroll;
    padding-left: 20px;
}
.days_slider{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.days_wrap{
    grid-area: days;
    height: inherit;/*?*/
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
}

.day{
    background-color: rgba(0, 0, 0, 0.12);
   margin: 5px 9px 10px 0;
   padding: 6px;
   transition: all .25s ease;
   border: 1px solid rgba(255, 255, 255, 0);
   border-radius: 5px;
}
label.day{
    -webkit-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.75);
    box-shadow: 2px 3px 7px 0px rgba(0,0, 0, 0.75);
 
}
.day:hover{
    cursor: unset;
    border: 1px solid rgba(255, 255, 255, 0);

}
label.day:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.85);
    -moz-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.85);
    box-shadow: 2px 3px 7px 0px rgba(0,0, 0, 0.85);
}

.days_radio{
    display: none;
}
.day_borders{
    border: none;
}
#days #days-1:checked ~ label.day:first-of-type{
    border: 2px solid #fff;
}
#days #days-2:checked + .day,#days #days-3:checked + .day, #days #days-4:checked + .day, #days #days-5:checked + .day, #days #days-6:checked + .day, #days #days-7:checked + .day{
    border: 2px solid #fff;
}

/* width */
#days::-webkit-scrollbar {
    width: 16px;
    cursor: pointer;
  }

  /* Track */
  #days::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  #days::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  #days::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
.button{
     position: absolute;
    display: block;
    width: 25px;
    z-index: 3;

    fill: rgba(255, 255, 255, 0.8);
}
.button:hover{
    fill: #fff;
    cursor: pointer;
}

.weekday{
    margin-bottom: 5px;
}
/*===========================HOURS===========================================*/

.slider_wrap{
    grid-area: slider_wrap;
    position: relative;
    width: -moz-available;
}

#hours{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .4s all ease;
    width: 100%;
    overflow-x: scroll;

}/* width */
#hours::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }

  /* Track */
  #hours::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  #hours::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  #hours::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
#hours > div, .day{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hour{
    width: 100px;
    margin: 0 30px 15px 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius:5px ;
}
#hours::after{
    clear: both;
    content: '';
    display: block;
}
/*===================================LEGAL============================================*/

#legal{
    grid-area:legal;
    width:calc(100% - 0);
    text-align: left;
    color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 5px;
    
    margin-top: 15px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(100, 100, 100, 0.5);
}
#legal > p{
    margin: 0;
}
#legal > a{
    color: rgba(255,255,255,0.5);

    margin-right:15px;
}
/*=================================MEDIA=====================================================*/

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        top: -7px;
        height: auto;

    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 101vh;
        top: -7px;
        
    }
}

/*media*/
@media screen and (max-width:1000px){
    #weather{
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr repeat(5, 2fr);
        grid-template-areas:
        'display display display display display display'
        'display display display display display display'
        'display display display display display display'

        'slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap'
        'days days days days days days'
        'legal legal legal legal legal legal';
        height: auto;
        text-align: center;
        width: auto;
    }
    body{
        height: 100%;
    }
    body, #weather{
        margin: 0;
    }
    #container{
        padding: 0;
    }

    .loading{
        height: 100%;
    }
    .details{
        justify-content: center;
        width: 60%;
    }
    #display{
     grid-template-rows: 2fr 1fr 2fr;
    }
    .chart_area, .days_slider, .slider_wrap{
        width:84%;
        margin: 0 auto;
    }
    .chart_area{
        margin: auto;
        height: 80%;
    }
    .days_wrap{
        width: 100%;
    }
    #slidemenu{
        width: 95%;
        margin: 45px auto 0;
    }
    #days{
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: unset;
        padding: 0;
    }

    .day{
        width: 100px;
        margin: 0 30px 15px 0;
        justify-content: center;
    }

    .days_wrap{
        margin-left: 0;
        padding-left: 0;
    }
    .search_window{
        left: -2vw;
    }

}

@media screen and (max-width:850px){
    #days{
        padding-left: 5px;
    }
    .slider_wrap, .days_slider, .chart_area{
        width: 100%;
    }
}
@media screen and (max-width:700px){
    #videoBG{
        left: -33.33%;
    }
    #weather{
        grid-template-rows: repeat(3, 2fr) 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        /* max-height: 1840px; */

        height: auto;
        text-align: center;
        width: auto;
    }
    #weather > div{
        grid-column: 1/3;
    } 
    #display{
        grid-row:1/4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr 2fr;
    }

    #current{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #other{
        padding-top: 25px;
        grid-column: 2/3;
        grid-row: 2/3;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
    #details{
        padding-top: 25px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #slidemenu{
        grid-column: 1/3;
        grid-row: 3/4;
        margin: 25px auto 0;
    }
    #slidemenu label span {
        padding: 11px;
    }
    .chart_area{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #current, #details, #other{
        border-right: hidden;
    }

    .slider_wrap{
        grid-row: 4/5;
    }
    .slider_bar{
        display: none;
    }
    
    .curr_icon{
        height: 1.85rem;
    }

    #legal{
        text-align: center;
    }
    #legal > a{
        margin-bottom: 10px;
    }
}
 @media screen and (max-width:500px){
     /*Weather*/
    #weather{
        display: block;
        height: auto;
        text-align: center;
        width: auto;
    }

    #display{
        display: block;
    }
    .slider_wrap{
        margin-bottom: 40px;
    }
    .loading{
        width: 87%;
        left: unset;
    }
    /*display*/

    .wind_headline, #details > span{
        margin: 19.5px 10px;
    }
    .propability{
        margin-top: 6vw;
    }
    .settings_window{
        clip-path: circle(0.1% at 48.4% 6.7%);
    }
    .settings_item:nth-of-type(2) >.settings-subitem {
        justify-content: space-evenly;
    }
    .wind_text{
        margin-right: 15px;
    }
    .wind_speed{
        margin: 0 0 25px 0;
    }
    #current, #other, #details{
        margin: 0 auto;
        padding: 15px 0;
        width: 95%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    /* #current{
        grid-row: 1/2;
    } */
    #other{
        border-left: none;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    /* #details{
        grid-row: 3/4;
    } */
    .backto{
        width: 100px;
        padding-top: 65px;
        margin: 0 30px 15px 0;
    }
    /* #slidemenu{
        /* grid-row: 4/5; 
        height: fit-content;
        margin: 10% 0;
    } */
    .chart-container{
        width: 2000px;
    }
    #slidemenu label{
        margin-bottom: 15px;
    }
     .chart_area{
        height: 275px;
    } 
} 
