/*font-family: 'Rubik', sans-serif;*/
/* @font-face {
    font-family: 'Rubik'; 
    src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
   /*test*/

*{
    scroll-behavior: smooth;
    

}
html,body {
    width:100vw;
}
#videoBG {
    position:fixed;
    z-index: -1;
    transition: .4s all ease-out;
    

}
.full_opacity{
    opacity: 1;
}
.no_opacity{
    opacity: 0;
}
html{
    height: 100vh;
    margin: 0;
}

body{
    position: relative;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
#container{
    width: 100%;
    padding: 80px 0 45px 0;
    position: relative;
}
.loading{
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    color: #fff;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.loading_support{
    text-align: center;
    margin-top: 25;
    font-size: 20px;
    margin: 25% auto 0;
    font-family: monospace;
    width: 90%;
}
.back{
    
    position: absolute;
    top:0;
    left: -100%;
    width:200vw;
    height: 100%;
    z-index: -3;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);

}
#weather{
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns:repeat(6, 1fr);/*пофиксить размеры*/
    grid-gap: 2px;
    grid-template-areas:
    'display display display display display display days'
    'display display display display display display days'
    'display display display display display display days'
    'display display display display display display days'
    'slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap days'
    'legal legal legal legal legal legal days';
    padding: 25px;
    width: 900px;
    height: 900px;
    border-radius: 5px;

    /* background: url('img/trianglify-lowres3.png') no-repeat center / cover; */
    background-color: rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: 'Rubik', sans-serif;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.31);
}
/*===========================DISPLAY=========================================*/
#display{
    grid-area: display;
    margin-bottom: 10px;
    display: grid;
    position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;

}


/*-----------------------CURRENT-------------------*/

#current{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#location{
    padding: 5px;
    display: flex;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 0 0;
}
#location:hover{
    background-color: #00c8ff;
    color: #fff;
    transition: .2s ease all;
    border-color: #59abc2;
}
.location_img{
    height: 15px;
    fill: white;
}
/*settings*/
#settings{

    height: fit-content;
    margin: 10px 0 0;
    

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: .25s all ease;

}
#settings > svg{
    width: 15px;
    display: block;
    transition: .25s all ease;
    padding: 5px;
}
#settings:hover{
    background-color:#00c8ff;

}
#settings:hover > svg{
    transform: rotate(90deg);
    cursor: pointer;
}
.clipper{
    clip-path: circle(100%);
    z-index: 2;
}
.settings_window{
    clip-path: circle(0.1% at 53.6% 2.2%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    color: #fff;
    background: rgb(51,51,180);
    background: -moz-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    background: linear-gradient(25deg, rgba(51,51,180,1) 16%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333b4",endColorstr="#00d4ff",GradientType=1);
    transition: .5s clip-path ease-in-out;
    z-index: -2;
    border-radius: 5px;

}
 .settings_block{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    position: relative;
}

.close_settings{
    fill: #fff;
    position: absolute;
    height: 25px;
    top:15px;
    right: 15px;
} 
.close_settings:hover{
    cursor: pointer;
}
.settings_item, .sources{
    margin-bottom: 15px;
}
.sources_block{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.sources_block >a{
    padding: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 5px;
    margin:0 15px 15px 0;
    color: #fff;
    transition: .3s all ease-in-out;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.sources_block >a:hover{
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.75);
}
.settings_item>svg{
    height:30px;
    width: initial;
}

#russian, #english{
    height: 30px;
    width: initial;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
    border-radius: 10px;
}
.units_labels > span{
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
    border-radius: 10px;
}


.settings_item #lang-1 + .lang-label #russian{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #lang-2 + .lang-label #english{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #lang-1:checked + .lang-label #russian{ border: 1px solid #fff;}
.settings_item #lang-2:checked + .lang-label #english{ border: 1px solid #fff;}

.settings_item #units-1 + .units_labels span{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-2 + .units_labels span{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-3 + .units_labels span{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-4 + .units_labels span{ border: 1px solid rgba(0, 0, 0, 0);}
.settings_item #units-5 + .units_labels span{ border: 1px solid rgba(0, 0, 0, 0);}

.settings_item #units-1:checked + .units_labels span{ border: 1px solid #fff;}
.settings_item #units-2:checked + .units_labels span{ border: 1px solid #fff;}
.settings_item #units-3:checked + .units_labels span{ border: 1px solid #fff;}
.settings_item #units-4:checked + .units_labels span{ border: 1px solid #fff;}
.settings_item #units-5:checked + .units_labels span{ border: 1px solid #fff;}

.settings_block > span{
    margin: 40px 10px 0;
}
.units, .lang{
    display: none;
}



.condition{
    width: 90%;
    font-size: 20px;
    margin: 0 auto 10px;
    position: relative;

}
.cond_text{
    position: absolute;
    left: 0;
    bottom: 0;
}
.temperature{
    font-size: 4rem;
    margin-bottom: 10px;
}
.temp_val{
    width: fit-content;
}
.app_temp{
    margin-bottom: 25px;
}
.icon {
    width: 60px;
    display: block;
    margin: 15px auto 10px auto;

}


/*-----------------------DETAILS-----------------------*/
#details{
    display:flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

/*wind*/
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind_text{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.wind_headline, #details > span{
    display: inline-block;
    margin: 40px 10px 0;

    font-size: 1.2rem;
    font-weight: 400;
}
.wind_speed{
    margin: 10px 0 15px 0;
}
.wind_dir{
    height: 40px;
    transform: rotate(45deg);
    fill: white;
    margin-top: 15px;
}


#other{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*===========================MENU===========================================*/

#slidemenu{
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 13px;
    overflow: hidden;
}
#menu >span{
    display: inline-block;
    height: fit-content;
    margin-right: 20px;
    font-size:20px;
    padding: 0 10px 5px;
}

#menu >span:hover{
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
/*------------------------------MENU SLIDER----------------------------------------------*/

  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  
  #slidemenu label{
    width: 20%;
    text-align: center;
    display: block;
    float: left;
    color: #fff;
  }
  
  #slidemenu label:hover{
    cursor: pointer;
  }
  
  #slidemenu label span{
    display: block;
    padding: 10px;    
  }
  

  
  /*Bar Style*/
  
  .slider_bar {
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider_bar  .bar{
    width: 20%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
  }
  
  /*Animations*/
  #slidemenu label, .slider_bar  .bar {
    transition: all 365ms ease-in-out;
    -webkit-transition: all 365ms ease-in-out;
    -moz-transition: all 365ms ease-in-out;
  }
  
  /*Toggle*/
  
  #slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  

  
  #slidemenu #slide-item-1:checked ~ .slider_bar .bar{ margin-left: 0; }
  #slidemenu #slide-item-2:checked ~ .slider_bar  .bar{ margin-left: 20%; }
  #slidemenu #slide-item-3:checked ~ .slider_bar  .bar{ margin-left: 40%; }
  #slidemenu #slide-item-4:checked ~ .slider_bar  .bar{ margin-left: 60%; }
  #slidemenu #slide-item-5:checked ~ .slider_bar  .bar{ margin-left: 80%; }
/*===============================CHART===========================================*/


.chart-container{
    position: relative;
    height: 100%;
    width: 2880px;
    overflow-y: hidden;
}
.chart_area{
    width: 100%;
    grid-column: 1/4;
    grid-row: 3/4;
    height: 100%;
    overflow-x: scroll;
}
.chart_area::-webkit-scrollbar {
    width: 16px;
    cursor: pointer;
  }

  /* Track */
  .chart_area::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  .chart_area::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  .chart_area::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }



/*===========================DAYS============================================*/
.backto{
    display: block;
    padding: 8px;
    text-align: center;
    border: 1px solid #00c8ff;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto;
    background-color: #00c8ff;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.backto:hover{
    cursor: pointer;
    color: #fff;
    transition: .35s all ease;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.75);
}
.pop{
    background-color: rgba(85, 193, 255);
    font-size: 17px;
    margin-bottom: 10px;

}
.sky{
    width: 60px;
    margin: 0 auto 10px auto;
    display: block;
}

.temp{
    margin-bottom: 10px;
    font-size:1.3rem;
}
.time, .date{
    font-weight: 100;
    font-size: 1.05rem;
}

#days{

    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    position: relative;
    transition: .4s all ease;
    overflow-y: scroll;
    padding-left: 20px;
}
.days_slider{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.days_wrap{
    grid-area: days;
    height: inherit;/*?*/
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
}

.day{
    background-color: rgba(0, 0, 0, 0.12);
   margin: 5px 9px 10px 0;
   padding: 6px;
   transition: all .25s ease;
   border: 1px solid rgba(255, 255, 255, 0);
   border-radius: 5px;
}
label.day{
    -webkit-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.75);
    box-shadow: 2px 3px 7px 0px rgba(0,0, 0, 0.75);
 
}
.day:hover{
    cursor: unset;
    border: 1px solid rgba(255, 255, 255, 0);

}
label.day:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.85);
    -moz-box-shadow: 2px 3px 7px 0px  rgba(0,0,0,0.85);
    box-shadow: 2px 3px 7px 0px rgba(0,0, 0, 0.85);
}

.days_radio{
    display: none;
}
.day_borders{
    border: none;
}
#days #days-1:checked ~ label.day:first-of-type{
    border: 2px solid #fff;
}
#days #days-2:checked + .day,#days #days-3:checked + .day, #days #days-4:checked + .day, #days #days-5:checked + .day, #days #days-6:checked + .day, #days #days-7:checked + .day{
    border: 2px solid #fff;
}

/* width */
#days::-webkit-scrollbar {
    width: 16px;
    cursor: pointer;
  }

  /* Track */
  #days::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  #days::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  #days::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
.button{
     position: absolute;
    display: block;
    width: 25px;
    z-index: 3;

    fill: rgba(255, 255, 255, 0.8);
}
.button:hover{
    fill: #fff;
    cursor: pointer;
}

.weekday{
    margin-bottom: 5px;
}
/*===========================HOURS===========================================*/

.slider_wrap{
    grid-area: slider_wrap;
    position: relative;
}

#hours{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .4s all ease;
    width: 100%;
    overflow-x: scroll;

}/* width */
#hours::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }

  /* Track */
  #hours::-webkit-scrollbar-track {
    background: #f1f1f11a;
  }

  /* Handle */
  #hours::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);

  }

  /* Handle on hover */
  #hours::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
#hours > div, .day{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hour{
    width: 100px;
    margin: 0 30px 15px 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius:5px ;
}
#hours::after{
    clear: both;
    content: '';
    display: block;
}
/*===================================LEGAL============================================*/

#legal{
    grid-area:legal;
    width:calc(100% - 0);
    text-align: left;
    color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 5px;
    
    margin-top: 15px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(100, 100, 100, 0.5);
}
#legal > p{
    margin: 0;
}
#legal > a{
    color: rgba(255,255,255,0.5);

    margin-right:15px;
}
/*=================================MEDIA=====================================================*/

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        top: -7px;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 101vh;
        top: -7px;
    }
}

/*media*/
@media screen and (max-width:1000px){
    #weather{
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr repeat(5, 2fr);
        grid-template-areas:
        'display display display display display display'
        'display display display display display display'
        'display display display display display display'

        'slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap slider_wrap'
        'days days days days days days'
        'legal legal legal legal legal legal';
        height: auto;
        text-align: center;
        width: auto;
    }
    body{
        height: 100%;
    }
    body, #weather{
        margin: 0;
    }
    #container{
        padding: 0;
    }

    .loading{
        height: 100%;
    }
    .details{
        justify-content: center;
        width: 60%;
    }
    #display{
     grid-template-rows: 2fr 1fr 2fr;
    }
    .chart_area, .days_slider, .slider_wrap{
        width:84%;
        margin: 0 auto;
    }
    #slidemenu{
        width: 95%;
        margin: 45px auto 0;
    }
    #days{
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: unset;
        padding: 0;
    }

    .day{
        width: 100px;
        margin: 0 30px 15px 0;
        justify-content: center;
    }

    .days_wrap{
        margin-left: 0;
        padding-left: 0;
    }

}

@media screen and (max-width:850px){

    #display{
        margin-bottom: 100px;
    }#days{
        padding-left: 5px;
    }
    .slider_wrap, .days_slider, .chart_area{

        width: 100%;
    }
}
@media screen and (max-width:700px){
    #weather{
        grid-template-rows: repeat(3, 2fr) 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        height: auto;
        text-align: center;
        width: auto;
    }
    #weather > div{
        grid-column: 1/3;
    } 
    #display{
        grid-row:1/4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr 2fr;
    }

    #current{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #other{
        padding-top: 25px;
        grid-column: 2/3;
        grid-row: 2/3;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
    #details{
        padding-top: 25px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #slidemenu{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .chart_area{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #current, #details, #other{
        border-right: hidden;
    }

    .slider_wrap{
        grid-row: 4/5;
        margin-top: -35px;
    }
    .slider_bar{
        display: none;
    }
    
    #slidemenu{
        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    #slidemenu label{
        margin-left:10px;
        width: auto;
    }
    #slidemenu label span{
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.88);
        color: #000;
    }
    #slidemenu label span:hover{
        cursor: pointer;
        background-color:#00c8ffda ;
        color: #fff;
        transition: .2s ease all;
        border-color: #00c8ffda;

    }
    #slidemenu #slide-item-1:checked + label span, #slidemenu #slide-item-2:checked + label span,#slidemenu #slide-item-3:checked + label span,#slidemenu #slide-item-4:checked + label span,#slidemenu #slide-item-5:checked + label span{
        cursor: pointer;
        background-color:#00c8ffda;
        color: #fff;
        transition: .2s ease all;
        border-color: #00c8ffda;
    }
    #legal{
        text-align: center;
    }
    #legal > a{
        margin-bottom: 10px;
    }
}
 @media screen and (max-width:500px){
     /*Weather*/
    #weather{
        grid-template-rows: 8fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        height: auto;
        text-align: center;
        width: auto;
    }
    #weather > div{
        grid-column: 1/4;
    } 
    #display{
        grid-row:1/2;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(250px, 350px) repeat(2, minmax(250px, 350px)) 250px 300px;
    }
    .slider_wrap{
        grid-row: 2/3;

    }
    .days_wrap{
        grid-row: 3/4;
    } 
    /*display*/

    #display > div{
        grid-column: 1/2;
    }
    #sunr{
        margin: 60px 10px 3vw 10px !important;
    }
    .wind_headline, #details > span{
        margin: 25px 10px 3vw 10px;
    }
    .propability{
        margin-top: 6vw;
    }

    .wind_text{
        margin-right: 15px;
    }
    #current, #other, #details{
        margin: 0 auto;
        padding: 0;
        width: 75%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    #current{
        grid-row: 1/2;
        margin-bottom: 28px;
    }
    
    #other{
        grid-row: 2/3;
        border-left: none;
    }
    #details{
        grid-row: 3/4;
    }
    .backto{
        width: 100px;
        padding-top: 18%;
        margin: 0 30px 15px 0;
    }
    #slidemenu{
        grid-row: 4/5;
        height: fit-content;
        margin: 10% 0;
    }
    .chart-container{
        width: 2000px;
    }
    #slidemenu label{
        margin-bottom: 15px;
    }
    .chart_area{
        grid-row: 5/6;
    }

    

} 
